# Google OAuth and API configuration (Required)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Groq API configuration (Required)
GROQ_API_KEY=

# OpenRouter API configuration (Required)
OpenROuter_API_KEY=

# Google API configuration (Required)
GOOGLE_API_KEY=

# Backend Security
# Generate with: openssl rand -hex 32
SECRET_KEY=

# Database (Using aiosqlite for async support and /app/data volume for persistence)
DATABASE_URL=sqlite+aiosqlite:///./data/marcoai.db

# Cloudflare Tunnel (Optional for local, required for prod)
CLOUDFLARE_TUNNEL_TOKEN=

# CORS (Frontend URL)
FRONTEND_URL=